%li.task.task-form.small-12.columns
  %form{action: '/', _action: "submit model on='submit'"}
    %p.row
      %span.small-1.columns
        {{view Ember.Checkbox checkedBinding='completed'}}
      %span.small-11.columns
        {{view Ember.TextField valueBinding='text' placeholder='Task content' autofocus='true'}}

    %p.row
      %span.small-1.columns
      %span.small-11.columns
        %input{type: 'submit'}
        %a{class: 'cancel', _action: 'cancel'} Cancel
