@import "reset";

body {
  background-color: #fff;
  overflow: hidden;
}

html, body {
  padding:0;
  margin:0;
}

.container {
  border-top: 1px solid #f1f1f1;

  &.full {
    .row {
      max-width: 100em;
    }
  }

  &.page {
    text-align: center;

    .landing {
      margin-top: 50px;
    }
  }
}

.top-bar {
  margin-bottom: 0;
}

input[type="checkbox"] {
  /*height: 20px;*/
}

.alert-box {
  position: absolute;
  width: 400px;
  max-width: 400px;
  top: 10px;
  left: 50%;
  margin-left: -200px;
  z-index: 999;

  span {
    text-align: center;
  }
}
