// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "reset";

$blue_border: #6d90b4;
$red_border: #d66868;

.list-form-wrapper {
  @extend .clearfix;
  margin-left: 10px;
  height: 35px;

  display: none;

  .input-wrapper {
    float: left;
    margin-top: 3px;

    input[type="submit"] {
      margin-left: 10px;
      font-size: 14px;
    }

    input[type="text"] {
      padding: 0;
      margin: 0;
      border: 0;
      @include no_box_shadow();
      background: $topbar_color;
      border-bottom: 1px dashed #ccc;
      padding-left: 1px;
    }
  }

  .submit {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.lists-wrapper {
  @extend .clearfix;

  li {
    display: block;
    margin-bottom: 20px;

    .details {
      i {
        color: #999;
      }

      span {
        font-size: 12px;
        margin-right: 15px;
        color: #999;
      }

      a {
        color: #ddd;
        font-size: 12px;
        margin-right: 15px;
        text-decoration: underline;
      }
    }
  }
}

.quadrants-wrapper {
  margin: 0px;
  padding: 0px;

  .tasks {
    margin: 0px;
    padding: 0px;

    .columns {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .quadrant-wrapper {
    position: static;
    padding: 0px;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow-y: scroll;

    &.ul {
      padding-bottom: 15px;
    }

    .add-task {
      font-size: 13px;
      text-decoration: underline;
    }

    &.active {
      .add-task {
        display: none;
      }
    }
  }

  .q1 {
    border-top: 0px;
    border-left: 0px;
    border-right-color: $red_border;
    border-bottom-color:  $blue_border;
  }

  .q2 {
    border-top: 0px;
    border-right: 0px;
    border-bottom-color: $red_border;
    border-left-color: $red_border;
  }

  .q3 {
    border-bottom: 0px;
    border-left: 0px;
    border-top-color: $blue_border;
    border-right-color: $blue_border;
  }

  .q4 {
    border-bottom: 0px;
    border-right: 0px;
    border-left-color: $blue_border;
    border-top-color: $red_border;
  }
}
