.clearfix {
  // For modern browsers
  &:before,
  &:after {
    content:" ";
    display:table;
  }

  &:after {
    clear:both;
  }

  // For IE 6/7 (trigger hasLayout)
  & {
    *zoom:1;
  }
}

@mixin no_box_shadow() {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/// Reset vars
$topbar-color: #fafafa;
$topbar-height: 40px;
