// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "reset";

$task_height: 22px;
$task_font_size: 14px;

.task {
  @extend .clearfix;
  display: block;
  float: none;
  list-style: none;
  font-size: $task_font_size;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: $task_height;
  margin-bottom: 3px;

  .columns {
    padding-top: 0px;
    padding-bottom: 0px;
  }


  input[type="checkbox"] {
    padding: 0px;
    margin: 0px;
    vertical-align: baseline;
    font-size: $task_font_size;
  }

  .content {
    vertical-align: baseline;
    line-height: $task_height;
  }

  .actions-wrapper {
    position: relative;

    .delete-task {
      display: none;
      width: 14px;
      height: 14px;
    }

    .ajax-loader {
      position: absolute;
      top: 2px;
    }
  }

  &:hover {
    background: #fafafa;

    .delete-task {
      display: block;
    }
    cursor: pointer;
  }

  &.completed {
    span {
      text-decoration: line-through;
    }
  }

  &.ui-sortable-helper {
    height: $task_height;
    line-height: $task_height;
  }
}

.task-form {
  margin-bottom: 15px;

  input[type="text"] {
    padding: 0;
    height: 25px;
    border: 0px;
    border-bottom: 1px dashed #ccc;
    @include no_box_shadow();
    font-size: 13.63636302947998px;
  }

  input[type="submit"] {
    margin-left: 0px;
  }

  form {
    margin: 0;
    padding: 0;
  }
}

.sortable-placeholder {
  display: block;
  position: relative;
  height: 22px;
  width: 100%;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.show-completed-toggle {
  @extend .clearfix;
  height: $topbar-height;

  label {
    float: left;
    font-size: 11px;
    line-height: $topbar-height;
    padding: 0px;
    margin: 0px;
    margin-right: 15px;
  }

  input[type="checkbox"] {
    float: left;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    line-height: 35px;
    height: $topbar-height;
  }
}
